/* navi */
/*.toggle_btn（ハンバーガーボタン実装）*/
.toggle_btn {
  display: block;
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 30px;
  transition: all .5s;
  cursor: pointer;
  z-index: 77;
}

/* 三本線 */
.toggle_btn span {
  display: block;
  position: absolute;
  right: 0;
  width: 30px;
  height: 2px;
  background-color: #ccc;
  border-radius: 4px;
  transition: all .5s;
}
.toggle_btn span:nth-child(1) {
  top: 4px;
}
.toggle_btn span:nth-child(2) {
  top: 14px;
}
.toggle_btn span:nth-child(3) {
  bottom: 4px;
}
.open .toggle_btn span {
  background-color: #ccc;
}
.open .toggle_btn {
  -webkit-transform: rotate(360deg);
  transform: rotate(360deg);
}

.open .toggle_btn span:nth-child(1){
  top: 14px;
  transform: rotate(45deg);
}

.open .toggle_btn span:nth-child(2){
  opacity: 0;
}

.open .toggle_btn span:nth-child(3){
  top: 14px;
  transform: rotate(-45deg);
}


/* 汎用 */
/* * {
  box-sizing: border-box;
} */

p {
  font-size: 1em;
  line-height: 150%;
}

h6 {
  font-size: 1em;
  line-height: 150%;
}

h5 {
  font-size: 1.2em;
  line-height: 150%;
}

li {
  list-style: none;
}

.item {
  background-color: #D7BFAF;
  border-radius: 8px;
  position: relative;
  display: block;
}

.item a {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

.hover:hover {
  /* opacity: 0.7; */
}

.wrap {
  margin: 0 auto;
  max-width: 1200px;
  font-family: 'Noto Serif JP', serif;    
}

.container {
    display: grid;
    gap: 10px;
    grid-template-columns: 1.2fr 1fr 1fr 1fr;
    grid-template-rows: 400px 100px 150px 300px auto;
}   

.container img {
  border-radius: 8px;
}



/* レイアウト */

.box1 {
  grid-row: 1 / 3;
}

.box2 {
  grid-column: 2 / 5;
  grid-row: 1  / 2;
}

.box3 {
  grid-row: 2 / 4;
}

.box4 {
  grid-column: 3 / 5;
  grid-row: 2 / 4;
}

.box6 {
  grid-column: 1 / 3;
}

.box9 {
  grid-column: 1 / 5;
  padding: 10px 0;
  text-align: center;
}

/* タイトル */
.box1 img {
  width: 100%;
  height: 510px;
  object-fit: cover;
}

.title {
  width: 100%;
  padding: 50px 0;
  position: absolute;
  top: 0;
}

.title h1 {
  text-align: center;
  color: #fff;
  font-size: 2em;
  font-weight: bold;
}

/*  */

.box2 img {
  width: 100%;
  height: 400px;
  object-fit: cover;
}

.box3__txt {
  margin: 30px;

}

.box4 img {
  width: 100%;
  height: 260px;
  object-fit: cover;
}

.box5 img {
  width: 100%;
  height: 150px;
  object-fit: cover;
}

.box5__txt {
  margin: 30px;
}

.name {
  text-align: end;  
}

.box6 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}

.timeline {
  height: 300px;
}

.box8 img {
  width: 100%;
  height: 300px;
  object-fit: cover;
}


.title__box {
  background-color: #fff;
  border-top-left-radius: 8px;
  position: absolute;
  right: 0;
  bottom: 0;
  padding: 15px 20px 15px 25px;
  text-align: center;
}

/* ポップアップ */
.open {
	cursor:pointer; 
}
#pop-up {
	display: none; 
}
.overlay {
	display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #00000070; */
  z-index: 9998;
}
#pop-up:checked + .overlay {
	display: block;
	z-index: 9999;
	/* background-color: #00000070; */
	position: fixed;
	width: 100%;
	height: 100vh;
	top: 0;
	left: 0;
}
.window {
	width: 90vw;
	max-width: 380px;
	height: 240px;
	background-color: #ffffff;
	border-radius: 6px;
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
  z-index: 9999;
}
.text {
	font-size: 18px;
	margin: 20px;
}
.close {
	cursor:pointer;
	position: absolute;
	top: 4px;
	right: 4px;
	font-size: 20px;
}


/* Responsive */
@media (min-width: 993px) {
   .toggle_btn {
    display: none;
   }
    /* ナビバー */
  #navArea {
    background-color: #fff;
    padding: 20px;
  }

  nav {
    max-width: 1200px;
    margin: 0 auto;
  }

  .inner ul {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    /* align-items: center; */
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .inner li {
    margin-left: 20px;
  }

  .inner li a {
    color: #333;
    text-decoration: none;
  }
 
}


@media (max-width: 992px){
  /* grid１列に */
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }  
  .item {
    grid-column: 1;
    grid-row: auto;
  }
  /* nav */
  nav {
    display: block;
    position: fixed;
    top: 0;
    right: -300px;
    bottom: 0;
    width: 300px;
    background: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    transition: all .5s;
    z-index: 3;
    opacity: 0;
  }
  .open nav {
    right: 0;
    opacity: 1;
  }
  nav .inner {
    padding: 25px;
  }
  nav .inner ul {
    list-style: none;
    margin: 0;
    padding: 0;
  }
  nav .inner ul li {
    position: relative;
    margin: 0;
    border-bottom: 1px solid #333;
  }
  nav .inner ul li a {
    display: block;
    color: #333;
    font-size: 14px;
    padding: 1em;
    text-decoration: none;
    transition-duration: 0.2s;
  }
  nav .inner ul li a:hover {
    background: #e4e4e4;
  }
}

